<!-- /views/layouts/main.handlebars -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
    <title>Doctor Prescription</title>
</head>

<body>
    <div class="bg">
        <div class="container mb-5">
            <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar border-bottom">
                <div class="container">
                    <a class="navbar-brand" href="#">
                        <strong>My Prescriptions</strong>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Home
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!--End Nav Container-->
            <div class="jumbotron bg-transparent">
                <div class="row">
                    <h1 class="text-white msg">Medical Prescriptions</h1>
                </div>
                <div class="row">
                    <h3 class="mod-text text-white">{{msg}}</h3>
                </div>
            </div>
        </div>
        <!--End container-->
    </div>
    <!--End div bg-->
    <div class="container mainContainer mt-3">
        {{{body}}}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>