<!-- views/menuMedicos.handlebars -->

<div class="row m-5">
  <div class="col-6 p-5 ">
    <a href="#">
      <div class="card text-center options border-0 bg-light">
        <h2>Consult Patient's List</h2>
        <p>consult your patients list</p>
      </div>
    </a>

  </div>
  <div class="col-6 p-5">
    <a href="#">
      <div class="card text-center options  border-0 bg-light">
        <h2>Register New Patient</h2>
        <p>Add a new patient</p>
      </div>
    </a>

  </div>
</div>

<div class="row m-5">
  <a href="#">
    <div class="col-6 p-5">
      <div class="card text-center options border-0 bg-light">
        <h2>Create a new Prescription</h2>
        <p>Add a new prescription to your patient's record</p>
      </div>
  </a>
</div>

<div class="col-6 p-5">
  <a href="#">
    <div class="card text-center options border-0 bg-light">
      <h2>Consult Patient's Prescriptions</h2>
      <p>Consult your patient's latest prescritions</p>
    </div>
  </a>
</div>

</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>