<!-- views/index.handlebars -->

 <!-- ------------------------------------------------- -->
        <br>
        <hr>
        <br>
        <h1> Doctor Prescription </h1>
        <br>
        <br>
        <a href="/doctors"> Registro para Médicos </a> <br>
        <a href="/doctorsLogin"> Acceso para Médicos (login) </a> <br>
        <!-- a href="/doctorsMenu"> Menú Principal para Médicos </a> <br -->
        <a href="/doctorsList"> Consulta de Médicos disponibles </a> <br>
        <!-- a href="/patients"> Registro de Pacientes </a> <br -->
        <!-- a href="/prescriptions"> Registro de Recetas </a> <br -->
        <br>
        <hr>
        <br>
        <!-- ------------------------------------------------- -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
