<!-- views/prescriptions.handlebars -->
<form>
  <!--
    <div class="form-group my-1">
      Patient Id: <div id="patientId">{{recs}}</div>
      </select>
    </div>
    -->
  <div class="container mb-5 mt-5">
    <div class="row">
      <div class="col-4">
        <div id="patiName"></div>
      </div>
      <div class="col-4">
        <div id="doctName"></div>
      </div>
      <div class="col-4">
        <a href="/doctorsMenu"> <button id="goBackMenu" class="btn btn-outline-info float-right">Return to Main
            Menu</button></a>
      </div>
    </div>
  </div>
  <hr>
  <div class="prescription">
  <div class="row">
    <div class="form-group m-2 col-2">
      <label for="patweight">Weight (kg):</label>
      <input type="text" class="form-control" id="pat-weight" aria-describedby="patWeight" placeholder="72">
    </div>

    <div class="form-group m-2 col-2">
      <label for="patHeight">Height (cm):</label>
      <input type="text" class="form-control" id="pat-height" aria-describedby="patHeight" placeholder="172">
    </div>
    <div class="form-group m-2 col-2">
      <label for="patPulse">Heart Rate (bpm): </label>
      <input type="text" class="form-control" id="pat-pulse" aria-describedby="patPulse" placeholder="">
    </div>
  </div>
  <div class="form-group">
    <label for="Prescription">Prescription:</label>
    <textarea class="form-control" id="med-prescription" rows="5"></textarea>
  </div>
  <div class="form-group">
    <label for="Observations">Observations:</label>
    <textarea class="form-control" id="med-observations" rows="3"></textarea>
  </div>

  <button type="submit" id="submit" class="btn btn-primary float-right">Create Prescription</button>
  </div>
</form>
</div>

<br>
<br>
<br>
<br>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="/js/prescriptions.js"></script>