<!-- views/index.handlebars -->

<div class="container mt-5">

<div class="row mt-5 mb-5">
  <div class="col">
    <p class="aboutText">MyPrescriptions is a Patient Management System for the independent Doctor.</p>
    <p class="aboutText">Manage your patients information in a secure and easy way.</p>
  </div>
</div>
  <div class="row mb-5">
    <div class="col-sm-5 text-center">
      <div class="card">
        <div class="card-body py-5">
          <h2 class="card-title">Log in</h2>
          <p class="card-text">Please log in with your account.</p>
          <a href="/doctorsLogin" class="btn btn-outline-success">Login</a>
        </div>
      </div>
    </div>
    <div class="col-sm-2 text-center py-5">
      <h2> OR </h2>
    </div>
    <div class="col-sm-5 text-center">
      <div class="card">
        <div class="card-body py-5">
          <h2 class="card-title">Sign Up</h2>
          <p class="card-text">Create an account to access our prescriptions system.</p>
          <a href="/doctors" class="btn btn-outline-danger">Sign Up</a>
        </div>
      </div>
    </div>
    <a href="/doctorsList" class="mt-5 btn btn-outline-info btn-lg btn-block"> Meet Our Doctors</a>
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/index.js"></script>