<!-- /views/layouts/main.handlebars -->

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Doctor Prescription</title>
</head>

<body>
  <div class="bg">
        <div class="container mb-3">
            <nav class="navbar navbar-expand-lg navbar-dark scrolling-navbar border-bottom">
                <div class="container">
                    <a class="navbar-brand" href="#">
                        <strong>Prescriptions</strong>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                        </ul>

                        <div class="md-form my-0">
                            <button type="button" class="btn btn-outline-light btn-sm">Login</button>
                            <button type="button" class="btn btn-outline-light btn-sm">Register</button>
                        </div>
                    </div>
                </div>
            </nav>
            <!--End Nav Container-->
            <div class="jumbotron bg-transparent">
                <h1 class="text-white">Welcome!</h1>
            </div>
        </div>
        <!--End container-->
    </div>
    <!--End div bg-->
    <div class="container mt-3">
        {{{body}}}
    </div>



    <!-- Footer -->
    <div class="footer-margin" style="margin-top: 80px; margin-bottom: 0;">
        <footer class="page-footer font-small blue bg-transparent fixed-bottom border-top">

            <!-- Copyright -->
            <div class="footer-copyright text-center bg-transparent border-top pt-4">
                <p class="mb-0 pb-0">Copyright ©</p>
            </div>

        </footer>
    </div>
    <!-- Footer -->
  
</body>

</html>
