<!-- views/menuMedicos.handlebars -->

<div class="row m-5">
  <div class="col-6 p-5">
    <a href="#">
    <div class="card text-center">
      <h2>Consult Patient's List</h2>
      <p>consult your patients list</p>
      </a>
    </div>
  </div>
  <div class="col-6 p-5">
    <a href="#">
    <div class="card text-center">
      <h2>Register New Patient</h2>
      <p>Add a new patient</p>
    </div>
    </a>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>